if SHIELD_DM_6x5_LEFT

config ZMK_KEYBOARD_NAME
    default "DM_6x5"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_DM_6x5_LEFT || SHIELD_DM_6x5_RIGHT

config ZMK_SPLIT
    default y

endif
